{% load static %}
<link rel="stylesheet" href="{% static 'sitebrba/css/style.css' %}">

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}sitebrba{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sitebrba/css/style.css' %}">
  </head>
  <body style="background-color:rgb(252, 253, 208);">
    <header>
      <img src="{% static 'sitebrba/img/logo.png' %}" alt="">
      <nav style="text-align: center; width: 100% ; margin: auto; padding: 5px; font-size: 25px; display: flex; justify-content: center; gap: 50px; background-color: wheat;">
        <a href="{% url 'index' %}" style="font-size:  50px; font-family: Arial, Helvetica, sans-serif; color: black; text-decoration: none;">Inicio</a>
        <a href="{% url 'elenco' %}" style="font-size: 50px; font-family: Arial, Helvetica, sans-serif; color: black; text-decoration: none;">Elenco</a>
        <a href="{% url 'sobre' %}" style="font-size: 50px; font-family: Arial, Helvetica, sans-serif; color: black; text-decoration: none;">Sobre</a>
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <p>© 2025 SiteBrBa.<br> Direitos Reservados</p>
    </footer>
  </body>
</html>
