{% extends "sitebrba/base.html" %}
{% load static %}

{% block title %}{{ info.titulo }}{% endblock %}

{% block content %}
  <section class="sobre-introducao">
    <h1>{{ info.titulo }}</h1>
    <p>{{ info.descricao }}</p>
  </section>

  <section class="sobre-autor">
    <h2>Autor</h2>
    <ul>
      <li>Nome: {{ info.autor }}</li>
      <li>Email: {{ info.email }}">{{ info.email }}</a></li>
    </ul>
  </section>

  {# <img src="{% static 'sitebrba/img/logo_sobre.png' %}"> #}

{% endblock %}
